# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'tidal'
      'submenu': [
        {
          'label': 'Eval'
          'command': 'tidal:eval'
        }
      ]
    ]
  }
]
