# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tidal'
      'submenu': [
        {
          'label': 'Boot Tidal',
          'command': 'tidal:boot'
        },
        {
          'label': 'Eval'
          'command': 'tidal:eval'
        },
        {
          'label': 'Eval And Copy'
          'command': 'tidal:eval-copy'
        },
        {
          'label': 'Eval Multi Line'
          'command': 'tidal:eval-multi-line'
        },
        {
          'label': 'Eval Multi Line And Copy'
          'command': 'tidal:eval-multi-line-copy'
        },
        {
          'label': 'Hush'
          'command': 'tidal:hush'
        }
      ]
    ]
  }
]
