# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'atom-workspace atom-text-editor:not(.mini)':
  'shift-enter': 'tidal:eval'
  'alt-shift-enter': 'tidal:eval-copy'
  'cmd-enter': 'tidal:eval-multi-line'
  'ctrl-enter': 'tidal:eval-multi-line'
  'alt-cmd-enter': 'tidal:eval-multi-line-copy'
  'shift-cmd-h': 'tidal:hush'
